@{
    Layout = "";
}
@model EpayPaymentMethodModel

<div class="payment-method">
    <ul class="method-list">


        @if (Model.EnableEpay)
        {
            <li>
                <div class="method-name">
                    <div class="payment-logo">
                        <label for="Epay">
                            <img alt="Epay" src="@Url.Content("~/Plugins/Mitbg.Plugin.Payments.ePay/epay.png")">
                        </label>
                    </div>
                    <div class="payment-details">
                        @Html.RadioButton("PaymentType", "Epay", (Model.PaymentType == PaymentType.Epay), new { id = "Epay" })
                        <label class="forcheckbox" for="Epay">@T("Plugins.Payments.ePay.Fields.Configure.EpayName")</label>
                    </div>
                </div>
            </li>
        }


        @if (Model.EnableEasyPay)
        {
            <li>
                <div class="method-name">
                    <div class="payment-logo">
                        <label for="EasyPay">
                            <img alt="EasyPay" src="@Url.Content("~/Plugins/Mitbg.Plugin.Payments.ePay/easypay.png")" />
                        </label>
                    </div>
                    <div class="payment-details">
                        @Html.RadioButton("PaymentType", "EasyPay", (Model.PaymentType == PaymentType.EasyPay), new { id = "EasyPay" })
                        <label class="forcheckbox" for="EasyPay">@T("Plugins.Payments.ePay.Fields.Configure.EasyPayName")</label>
                    </div>
                </div>
            </li>
        }


        @if (Model.EnableDirectCreditCard)
        {
            <li>
                <div class="method-name">
                    <div class="payment-logo">
                        <label for="DirectCreditCard">
                            <img alt="DirectCreditCard" src="@Url.Content("~/Plugins/Mitbg.Plugin.Payments.ePay/directcreditcard.png")" />
                        </label>
                    </div>
                    <div class="payment-details">
                        @Html.RadioButton("PaymentType", "DirectCreditCard", (Model.PaymentType == PaymentType.DirectCreditCard), new { id = "DirectCreditCard" })
                        <label class="forcheckbox" for="DirectCreditCard">@T("Plugins.Payments.ePay.Fields.Configure.DirectCreditCardName")</label>
                    </div>
                </div>
            </li>
        }

        @if (Model.EnableCashOnDelivery)
        {
            <li>
                <div class="method-name">
                    <div class="payment-logo">
                        <label for="CashOnDelivery">
                            <img alt="CashOnDelivery" src="@Url.Content("~/Plugins/Mitbg.Plugin.Payments.ePay/cashondelivery.png")" />
                        </label>
                    </div>
                    <div class="payment-details">
                        @Html.RadioButton("PaymentType", "CashOnDelivery", (Model.PaymentType == PaymentType.CashOnDelivery), new { id = "CashOnDelivery" })
                        <label class="forcheckbox" for="CashOnDelivery">@T("Plugins.Payments.ePay.Fields.Configure.CashOnDelivery")</label>
                    </div>
                </div>
            </li>
        }


        @if (!Model.EnableEpay && !Model.EnableEasyPay && !Model.EnableDirectCreditCard && !Model.EnableCashOnDelivery)
        {

            <li>
                @T("Plugins.Payments.ePay.Fields.Configure.NoPaymentMethodAvailable")
            </li>

        }
    </ul>
</div>
