@using Nop.Plugin.Shipping.Speedy.Models
@model FormViewModel


<div class="form-group">
    <label class="col-sm-2 control-label">@T("Speedy.AddressForm.ShippingOver")</label>
    <div class="col-md-10">
        <ul class="checkbox-list">
            <li class="checkbox-item" style="float: left;">
                <input id="receive-input-1" name="receivetype" value="@(DeliveryOption.Automat)"
                       @if (Model.DisableAutomats) { <text> disabled="disabled" </text> }
                       type="radio"
                       @if (Model.DeliveryOption == DeliveryOption.Automat) { <text> checked="checked" </text> } />
                <label for="receive-input-1" class="filter-item-name">@T("Speedy.AddressForm.ToAutomat")</label>
            </li>
            <li class="checkbox-item" style="float: left; margin-left: 20px;">
                <input id="receive-input-2" name="receivetype" value="@(DeliveryOption.Office)"
                       @if (Model.DisableOfficies) { <text> disabled="disabled" </text> }
                       type="radio"
                       @if (Model.DeliveryOption == DeliveryOption.Office) { <text> checked="checked" </text> } />
                <label for="receive-input-2" class="filter-item-name">@T("Speedy.AddressForm.ToOffice")</label>
            </li>
            <li class="checkbox-item" style="float: left; margin-left: 20px;">
                <input id="receive-input-3" name="receivetype" value="@(DeliveryOption.Address)"
                       type="radio"
                       @if (Model.DeliveryOption == DeliveryOption.Address) { <text> checked="checked" </text> } />
                <label for="receive-input-3" class="filter-item-name">@T("Speedy.AddressForm.ToAddress")</label>
            </li>
        </ul>
    </div>
</div>

@if (Model.DeliveryOption != DeliveryOption.Address)
{
    <div class="form-group" id="automatList">
        <label for="inputAutomat" class="col-sm-2 control-label">Офис</label>
        <div class="col-sm-10">
            @Html.DropDownList("officeId", Model.Officies.Select(s => new SelectListItem(s.Value, s.Key.ToString(), s.Key == Model.OfficeId)), "", new { @class = "col-md-12" })
        </div>
    </div>
}
else
{
    <div class="form-group">
        <label for="inputQuarter" class="col-sm-2 control-label">@T("Speedy.AddressForm.Quarter")</label>
        <div class="col-sm-10 text-left">
            <input id="inputQuarter" name="Quarter" class="col-sm-12" type="text" />
        </div>
    </div>

    <div class="form-group">
        <label for="inputStreetName" class="col-sm-2 control-label">@T("Speedy.AddressForm.StreetName")</label>
        <div class="col-sm-10">


            <div class="row">
                <div class="col-sm-8">
                    <input id="inputStreetName" class="col-sm-12" name="StreetName" type="text" />
                </div>

                <label for="inputStreetNo" class="col-sm-1 control-label">@T("Speedy.AddressForm.StreetNo")</label>
                <div class="col-sm-3">
                    <input id="inputStreetNo" class="col-sm-12" name="StreetNo" type="text" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="inputBlock" class="col-sm-2 control-label">@T("Speedy.AddressForm.BlockNo")</label>
        <div class="col-sm-10">


            <div class="row">
                <div class="col-sm-2">
                    <input id="inputBlock" class="col-sm-12" name="Block" type="text" />
                </div>

                <label for="inputEntrance" class="col-sm-1 control-label">@T("Speedy.AddressForm.EntranceNo").</label>
                <div class="col-sm-2">
                    <input id="inputEntrance" class="col-sm-12" name="Entrance" type="text" />
                </div>
                <label for="inputFloor" class="col-sm-1 control-label">@T("Speedy.AddressForm.FlookNo")</label>
                <div class="col-sm-2">
                    <input id="inputFloor" class="col-sm-12" name="Floor" type="text" />
                </div>
                <label for="inputApNumber" class="col-sm-1 control-label">@T("Speedy.AddressForm.ApNumber")</label>
                <div class="col-sm-3">
                    <input id="inputApNumber" class="col-sm-12" name="ApNumber" type="text" />
                </div>
            </div>
        </div>

    </div>
}

@Html.HiddenFor(w => w.AddressNote)
<div class="clearfix"></div>

